body {
    max-width: 1920px;
    width: 100%;
    max-height: 1000vh;
    margin: 0 auto;
    background-image: url(../images/bg_002.png);
    background-position-y: 70%;
    background-position-x: -60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    width: 100%; height: 40px;
}
header #lang_set {float: right; padding: 10px 10px 0 0;}
header #lang_set > svg {
    width: 35px; height: 35px;
}
#whole_wrap {
    
    margin: 80px auto 0 auto;
    display: flex; flex-flow: column nowrap;
    justify-content: flex-start; align-items: center;
    gap: 30px;
}
#whole_wrap h1 {
    font-weight: 600;
    font-size: 3.438rem;
    text-transform: uppercase;
    color: #448836;
    text-align: center;
}
#whole_wrap p {
    color: #448836;
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 120%;
}
#whole_wrap .kr {font-size: 1.25rem;}
#whole_wrap #ideal_weight_frm {
    width: 50%; height: max-content;
    text-align: center;}
#whole_wrap #ideal_weight_frm #weight_frm {}
#whole_wrap #ideal_weight_frm #weight_frm .input_list {}
#whole_wrap #ideal_weight_frm #weight_frm .input_list > li {
}
#whole_wrap #ideal_weight_frm #weight_frm .input_list > li input {
    border: 1.5px solid #448836;
    border-radius: 10px;
    width: 320px; line-height: 35px;
    padding-left: 10px; 
}
#whole_wrap #ideal_weight_frm #weight_frm .input_list > li input::placeholder {
    color: #448836; font-weight: 300;
}
#whole_wrap #ideal_weight_frm #weight_frm .input_list > li input:first-child {
    margin: 15px 0;}
#whole_wrap #ideal_weight_frm #weight_frm #weight_result {
    opacity: 0; font-weight: 600;
    color: #EF4D49;
    white-space: pre-line;
}
#whole_wrap #ideal_weight_frm #weight_frm #calculate_btn {
    width: 260px; line-height: 20px;
    border-radius: 8px;
    padding: 10px;
    background-color: #448836;
    color: #fff;
    margin-top: 30px;
}